@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto:wght@300&family=Tulpen+One&display=swap');

body{
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto';
}

header{
    color: aliceblue;
    background-color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1{
    margin: 0;
    font-size: 60px;
    margin-bottom: 10px;
}

header > p > a {
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}

section > p{
    font-size: 40px;
    padding-left: 50px;
}

.img1{
    background: url(imgs/lugares-no-nordeste.png);
}