*{
    padding: 0;
    margin: 0;
}

body{
}

.cabecalho{
    margin: 1em;
    border-radius: 10px;
    width: 97.9vw;
    height: 15vh;
    background-color: aqua;
}

nav{
    height: 79.5vh;
    width: 10vw;
    background-color: aqua;
    margin: 0em 1em 1em 1em;
    border-radius: 10px;
}

main{
    display: flex;
}

.main-content{
    border-radius: 10px;
    background-color: aqua;
    width: 87vw;
    height: 60vh;
}

footer{
    background-color: aqua;
    width: 87vw;
    height: 18vh;
    margin-top: 1em;
    border-radius: 10px;
}