*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    margin: 1em;
    border-radius: 10px;
    width: 97.9vw;
    height: 15vh;
    background: linear-gradient(45deg, #9CBEC4, #516468);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    align-items: center;
    color: #E6E1C1;
    justify-content: space-around;
    gap: 50em;
    
}

nav{
    height: 79.5vh;
    width: 10vw;
    background: linear-gradient(45deg, #9CBEC4, #516468);
    margin: 0em 1em 1em 1em;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

main{
    display: flex;
}

.main-content{
    border-radius: 10px;
   background: linear-gradient(45deg, #9CBEC4, #516468);
    width: 87vw;
    height: 60vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer{
   background: linear-gradient(45deg, #9CBEC4, #516468);
    width: 87vw;
    height: 18vh;
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cabecalho > ul{
    display: flex;
    gap: 1.5em;
    list-style: none;
}

.cabecalho > ul> a{
    text-decoration: none;
    color: #E6E1C1;
    font-size: 18px;
    transition: all 0.6s;
    text-underline-offset: 0.1rem;

}

.cabecalho > ul> a:hover{
    text-decoration: underline;
    text-decoration-style:solid ;
    text-underline-offset: 0.4rem;
    color: #E6E1C1;
    font-size: 18px;

}